.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login {
  color: rgba(0, 0, 0, 0.87);
  margin-right: 30px;
}

.register {
  color: #9C27B0;
  border: 1px solid rgba(156, 39, 176, 0.5);
  border-radius: 4px;
  padding: 5px;
}
